.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 4rem 0;
}

.header{
    margin-bottom: 2rem;
    display: flex;
    align-items: center;

    div{
        display: flex;
        align-items: center;

        a{
            animation: float 4s ease-in-out infinite;
        }
    }
    h1{
        margin-right: 2rem;
    }
}

@media (max-width: 678px){
    .main{
        justify-content: initial;
    }
}



@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-5px);
}
    100% {
        transform: translatey(0px);
    }
}